.title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  .left {
    flex:1;
    font-size: 16px;
    font-weight: bold;
  }
  .right {
    flex:1;
    font-size: 14px;
    color: #999;
  }
}

.content {
  padding: 10px;
}

.footer {
  padding: 10px;
  background-color: #f5f5f5;
}