.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px - 65px);
   background-image: linear-gradient(to right, #ff7e5f, #feb47b);

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .subTitle {
    font-size: 16px;
    margin-bottom: 40px;
  }
}