.card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  &.is-published {
    .publish {
      color: #009900;
    }
    
  }
  &.is-star {
    .star {color: #ff9900;}
    
  }
  .title {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    .divt {
      flex: 1;
    }
    .right {
      flex: 1;
      font-size: 14px;
      color: #888;      
    }
  }
  .info {
    display: flex;
    width: 100%;
    font-size: 14px;
    color: #888;
    .left {
      width: 100%;
       display: flex;
      flex: 1;
    }
    .right {
      width: 100%;
       display: flex;
      flex: 1;
    }
    .info-item {
      margin-right: 10px;
    }
  }
}