.header {
  padding: 0 24px;
  .left {
    float: left;
    color: #f0f2f5;
  }
  .right {
     color: #f0f2f5;
    float: right;
  }
}

.main {
  min-height: calc(100vh - 64px - 65px);
}

.footer {
  text-align: center;
  background: #f0f2f5;
  border-top: 1px solid #e8ebee;
}